<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <nav>
        <ul class="navitems">
            <li> <a href="/logout"> <button class="button-82-pushable" role="button">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                           RETURN TO LOG IN
                        </span>
                    </button></a></li>
            <li><a href="/contact"><button id="b3" class="b3" onclick="appear('b3')">CONTACT US</button></a></li>
            <li> <a href="/services"><button id="b1" class="b1" onclick="appear('b1')"> SERVICES </button></a> </li>
            <li> <a href="/about"><button id="b2" class="b2" onclick="appear('b2')">ABOUT US</button></a> </li>
        </ul>
    </nav>

    <div class="container">
        <h1>MEET OUR MEMBERS</h1>
        <hr>
        <div class="images">
            <div class="image1">
                <img src="/images/back1-removebg.png" alt="" srcset="">
                <h2>ABBAS HAMMOUD</h2><br>
                <p>he's a highly talented and creative full stack developer known for his expertise in front-end and back-end development. With a keen eye for design and a passion for innovation, Abbas excels in creating visually stunning user interfaces that seamlessly integrate with robust functionality. His deep understanding of emerging technologies and problem-solving mindset allow him to deliver state-of-the-art solutions that drive user engagement and business success.</p>

            </div>
            <div class="image2">
                <img src="/images/back33.png" alt="" srcset="">
                <h2>ISSA NAIM</h2><br>
                <p>Highly skilled full stack developer proficient in various programming languages and frameworks. Strong problem-solving abilities and a commitment to delivering exceptional digital experiences. Constantly staying updated on industry trends and known for efficient and creative solutions.</p>
            </div>
        </div>
    </div>

    <br>
    <footer>
        <div class="container5">
            <!-- <div class="footer-icons">
                <a href="conatctus.html"><i class="fas fa-envelope"></i>Contact Us</a>
                <a href="#"><i class="fas fa-cogs"></i>Services</a>
                <a href="#"><i class="fas fa-info-circle"></i>About Us</a>
            </div> -->
            <p>&copy; 2023 Your Website. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="/js/contact.js"></script>

</html>