<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT US</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/contactus.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <nav>
        <ul class="navitems">
            <li> <a href="/logout"> <button class="button-82-pushable" role="button">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                            RETURN TO LOG IN
                        </span>
                    </button></a></li>
            <li><a href="/contact"><button id="b3" class="b3" onclick="appear('b3')">CONTACT US</button></a></li>
            <li> <a href="/services"><button id="b1" class="b1" onclick="appear('b1')"> SERVICES </button></a> </li>
            <li> <a href="/about"><button id="b2" class="b2" onclick="appear('b2')">ABOUT US</button></a> </li>
        </ul>
    </nav>

    <div class="page-container">
        <div class="button-container">

            <a onclick="appear1()" class="custom-button whatsapp">Contact via WhatsApp</a>

            <div class="form" id="form1">
                <div class="container">
                    <h1>ABBAS HAMMOUD</h1>
                    <form action="https://wa.me/qr/V2PMR6DFDRV3F1" method="post" enctype="_blank">

                        <label for="message">Message:</label>
                        <textarea name="message" required></textarea>

                        <input type="submit" value="Submit">
                    </form>

                </div>

                <div class="container">
                    <h1>ISSA NAIM</h1>
                    <form action="mailto: issanaim98@gmail.com" method="post" enctype="text/plain">
                        <label for="message">Message:</label>
                        <textarea name="message" required></textarea>

                        <input type="submit" value="Submit">
                    </form>

                </div>
            </div>
            <br>

            <a onclick="appear2()" class="custom-button email">Contact via Email</a>

            <div class="form" id="form2">
                <div class="container">
                    <h1>ABBAS HAMMOUD</h1>
                    <form action="mailto: abbashammoud135@gmail.com" method="post" enctype="text/plain">

                        <label for="message">Message:</label>
                        <textarea name="message" required></textarea>

                        <input type="submit" value="Submit">
                    </form>

                </div>

                <div class="container">
                    <h1>ISSA NAIM</h1>
                    <form action="mailto: issanaim98@gmail.com" method="post" enctype="text/plain">
                        <label for="message">Message:</label>
                        <textarea name="message" required></textarea>

                        <input type="submit" value="Submit">
                    </form>

                </div>
            </div>
            <br>


            <a onclick="appear3()" class="custom-button instagram">Contact via Instagram</a>
            <div class="form" id="form3">
                <div class="container">
                    <h1>ABBAS HAMMOUD</h1>
                    <form action="https://instagram.com/abbashammoud123?igshid=MzNlNGNkZWQ4Mg==" method="post"
                        enctype="_blank">

                        <label for="message">Message:</label>
                        <textarea name="message" required></textarea>

                        <input type="submit" value="Submit">
                    </form>

                </div>

                <div class="container" id="container">
                    <h1>ISSA NAIM</h1>
                    <form action="mailto: issanaim98@gmail.com" method="post" enctype="text/plain">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" required></textarea>

                        <input type="submit" value="Submit">
                    </form>

                </div>
            </div>
            <br>

        </div>


    </div>

    <footer>
        <div class="container5">
            <!-- <div class="footer-icons">
                <a href="conatctus.html"><i class="fas fa-envelope"></i>Contact Us</a>
                <a href="#"><i class="fas fa-cogs"></i>Services</a>
                <a href="#"><i class="fas fa-info-circle"></i>About Us</a>
            </div> -->
            <p>&copy; 2023 Your Website. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="/js/contact.js"></script>

</html>